body { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: beige;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-wrap {
    height: 75vh;
    width: 75vw;
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
}

.header-wrap {
    height: 100px;
    width: 100%;
    padding: 0.6em;
    border: 1px solid black;
    background-color: lightgray;
}

.header--title {
    font-weight: bold;
}

.table-wrapper {
    height: calc(75vh - 100px);
    overflow: auto;
}